.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    // background-color: #2196F3;

    .grid-item {
        // background-color: rgba(255, 255, 255, 0.6);
        // border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 10px;

        div {
            text-align: center;

            img {
                width: 220px;
                height: 320px;
                border-style: solid;
                border-width: 1px;
                border-color: #000;
            }

            p {
                font-weight: bold;
            }
        }
    }

    .grid-item:hover {
        scale: 1.1;
        transition: 3ms;
    }
}