.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
        box-sizing: border-box;
    }

    .container-header {
        display: flex;
        align-items: center;
        color: rgb(0, 0, 0);
        margin-bottom: 40px;

        div {
            font-size: 62px;
            cursor: default;
        }

        div:hover {
            animation-name: jump;
            animation-duration: 0.7s;
            animation-delay: calc(1 * 0.075s);
        }

        @keyframes jump {
            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }

    .container-lorem {
        width: 50%;
        margin-bottom: 16px;

        h3 {
            text-align: center;
            font-weight: bolder;
            margin-bottom: 6px;
        }

        p {
            font-size: medium;
            font-weight: lighter;
        }
    }

    button {
        width: fit-content;
        padding: 6px 14px 6px 14px;
    }
}